body {
    background-color: rgb(255,255,255);
    }
h1 {
    color: rgb(69, 69, 220);
    font-size:40px;
   }
h2 {
    color: #F11F82;
   }
h3 {
    color: rgb(46, 0, 252);
    font-size:20px;
   }

/* code for the three images side by side */
*{
  box-sizing: border-box;
 }
 
.column {
  float: left;
  /*width: 33.33%;*/
  width: 50%; 
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* end of three images code */

.header {
background-image:url("../images/scp foundation.jpg");
background-size: cover;
background-position: center;
font-size: 60px;
text-align:center;
height:190px;
width:100%;
left:0%;
right:5%;
margin-top:5px;	
/*margin-right:auto;   */
position:relative;
/*background: rgba(220,220,220,0.6);*/
border:1px solid #fff;
}

.content {
   width:100%; 
   font-size:20px;
   text-align:center;
   border:1px solid #111;
   margin:auto; 
}

/* my scroll to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 45px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 2; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:  rgb(3, 118, 160); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

/*Footer is given colour and is fixed to the bottom of the page*/
.footer { 
  font-size: 1.8vw;  /*sets the font size to 1.8% of the viewport's width, meaning the font size will scale proportionally to the browser window's width */
  text-align:center;
  height:180px;
  width:100%;
  left:0%;
  right:5%;
  margin-top:10px;	
  margin-right:auto;   
  position:relative;
  bottom: 5px;
  background: rgba(220,220,220,0.6);
  border:1px solid #fff;
  }

 /* Mobile responsiveness */
 @media (max-width: 768px) 
 {
  nav ul {
    text-align: center;
    margin-top: 1rem;
  }

  nav ul li {
    display: block;
    margin: 0.5rem 0;
  }

  main {
    padding: 1rem;
  }

  section {
    padding: 0.5rem;
  }
}

